#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6), 10%, transparent), url("../freedom.jpg") left 10% bottom 40%/cover no-repeat border-box, red;
    /* background-image: url("freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 35%; 
     background-origin: border-box;
     background-clip: border-box;  */
    width: 100%;
    height: 500px;
    padding: 1.2rem;
    margin-top: 2.5rem;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.all-plans {
    width: 90%;
    margin: auto;
    text-align: center;
}

.plan {
    background-color: lightgreen;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    width: 30%;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan__features {
    list-style: none;
    padding: 0;
}

.plan__features li {
    margin: 6px 0;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__annotation {
    background-color: white;
    color: #19b84c;
    padding: 0.3rem 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#marketing-points {
    background-color: #ff1b68;
    margin-top: 4.5rem;
    padding: 1rem;
}

#marketing-points .section-title {
    color: white;
}

.marketing-points_list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.marketing-point__image {
    background-color: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.2rem;
}

.marketing-point__desc {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.marketing-points_list li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
