* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 500px;
    padding: 20px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background-color: lightgreen;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 16px;
    margin: 8px;
    width: 30%;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan__features {
    list-style: none;
    padding: 0;
}

.plan__features li {
    margin: 6px 0;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__annotation {
    background-color: white;
    color: #19b84c;
    padding: 5px 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#marketing-points {
    background-color: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#marketing-points .section-title {
    color: white;
}

.marketing-points_list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.marketing-point__image {
    background-color: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

.marketing-point__desc {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.marketing-points_list li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
